<%= form_for([@contract, @contract_version]) do |f| %>
  <% if @contract_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract_version.errors.count, "error") %> prohibited this contract_version from being saved:</h2>

      <ul>
      <% @contract_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Versionsnummer" %><br />
    <%= f.number_field :version %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.date_select :start, {:include_blank => true, :default => nil} %>
  </div>
  <div class="field">
    <%= f.label "Zinssatz" %><br />
    <%= f.text_field :interest_rate %>
  </div>
  <br/>
  <h3>Laufzeit</h3>
  <p>Hinweis: Verträge können unbefristet (A) ODER befristet (B) gewährt werden. Bitte entsprechendes eintragen.</p>
  <br/>
  <h4>A) Unbefristeter Vertrag:</h4>
  <div class="field">
    <%= f.label :name, "Kündigungsfrist (in Monaten)" %><br />
    <%= f.number_field :notice_period %>
  </div>
  <br/>
  <h4>B) Befristeter Vertrag:</h4>
  <p>Hinweis: Eine der drei Angaben eintragen.</p>
  <div class="field">
    <%= f.label :name, "A) Enddatum" %><br />
    <%= f.date_select :end_date, {:include_blank => true, :default => nil, :end_year => Date.today.year + 10} %>
  </div>
  <div class="field">
    <%= f.label :name, " * ODER * " %><br />
    <%= f.label :name, "B) Laufzeit in Monaten" %><br />
    <%= f.number_field :duration_months %>
  </div>
  <div class="field">
    <%= f.label :name, " * ODER * " %><br />
    <%= f.label :name, "C) Laufzeit in Jahren" %><br />
    <%= f.number_field :duration_years %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Fertig", class: 'btn btn-default' %>
  </div>
<% end %>
