%h1 Versionen der Verträge
%table.table
  %tr
    %th Vertrag
    %th Version
    %th Start
    %th Kündigungsfrist (in Monaten)
    %th Enddatum
    %th Laufzeit in Monaten
    %th Laufzeit in Jahren
    %th Zinssatz
    %th
    %th
    %th
  - @contract_versions.each do |contract_version|
    %tr
      %td= "#{contract_version.contract.number}                  |
          (#{contract_version.contract.contact.try(:name)},     |
          #{contract_version.contract.contact.try(:prename)} )" |
      %td= contract_version.version
      %td= contract_version.start
      %td= contract_version.notice_period
      %td= contract_version.end_date
      %td= contract_version.duration_months
      %td= contract_version.duration_years
      %td= fraction(contract_version.interest_rate)
      %td= link_to 'Anzeigen', contract_version
      %td= link_to 'Editieren', edit_contract_version_path(contract_version)
      %td= link_to 'Löschen', contract_version, method: :delete, data: { confirm: 'Sicher?' }
%br/
