<%= form_for([@contact, @contract]) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% last_version = @contract.last_version || @new_contract_dummy %><br/>

  <div class="field">
    <%= f.label "Nummer" %><br />
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :name,  "Sollen die Zinsen jährlich dem Konto gut geschrieben werden. Wenn ja dann Haken setzen." %><br />
    <%= f.check_box :add_interest_to_deposit_annually %>
  </div>
  <div class="field">
    <%= f.label :name, "Start (letzte Version)" %><br />
    <%= date_select("last_version_start", "", :default => last_version.start.to_date) %>
  </div>
  <div class="field">
    <%= f.label :name,  "Zinssatz (letzte Version), Format: 0.0XX" %><br />
    <%= text_field_tag :last_version_interest_rate, last_version.interest_rate %>
  </div>
  <h3>Laufzeit</h3>
  <h4>Unbefristeter Kredit</h4>
  <div class="field">
    <%= f.label :name, "Kündigungsfrist in Monaten (letzte Version)" %><br />
    <%= number_field_tag :last_version_notice_period, last_version.notice_period %>
  </div>
  <h4>Befristeter Kredit (verschiedene Angaben möglich)</h4>
  <div class="field">
    <%= f.label :name, "A) Enddatum (letzte Version)" %><br />
    <%= date_select("last_version_end_date", "", {:include_blank => last_version.end_date.nil?, :default => last_version.end_date, :end_year => Date.today.year + 10}) %>
  </div>
  <div class="field">
    <%= f.label :name, " * ODER * " %><br />
    <%= f.label :name, "B) Laufzeit in Monaten (letzte Version)" %><br />
    <%= number_field_tag :last_version_duration_months, last_version.duration_months %>
  </div>
  <div class="field">
    <%= f.label :name, " * ODER * " %><br />
    <%= f.label :name, "C) Laufzeit in Jahren (letzte Version)" %><br />
    <%= number_field_tag :last_version_duration_years, last_version.duration_years %>
  </div>
  <h3>Sonstiges</h3>
  <div class="field">
    <%= f.label :name, "Kategorie (Privat, Syndikat, Dritte)" %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label "Kommentar" %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit "Fertig" %>
  </div>
<% end %>
