%h1 Übersicht Direktkreditverträge

%p
  Start, Laufzeit und Zinssatz sind aus der letzten Version des Vertrags.

- if @show_only_rate
  .alert.alert-warning
    %p
      Angezeigt werden nur DK-Verträge mit Zinssatz von:
      %b= fraction @show_only_rate
    %p
      Derzeitige Anlagesumme zu diesem Zinssatz:
      %b= currency @contracts.sum(&:balance)

%table.table
  %tr
    %th Nummer
    %th Kontakt
    %th Kontostand
    %th Start
    %th Kündigungsfrist (in Monaten)
    %th Laufzeit
    %th Zinssatz
    %th Typ
    %th Zinseszins?
    %th Bemerkung
    %th
    %th Aktionen
  - @contracts.each do |contract|
    %tr
      %td= link_to contract.number, contract
      %td= contact_long(contract.contact)
      %td= currency(contract.balance)
      %td= contract.last_version.start
      %td= contract.last_version.notice_period
      %td= run_time(contract)
      %td= fraction(contract.last_version.interest_rate)
      %td= contract.category
      %td= contract.add_interest_to_deposit_annually
      %td= contract.comment
      %td= link_to 'Anzeigen', contract
      %td
        %ul
          %li= link_to 'Buchung erstellen', new_contract_accounting_entry_path(contract)
          %li= link_to 'Vertragsversion erstellen', new_contract_contract_version_path(contract)
          %li= link_to 'Buchungsübersicht', contract_accounting_entries_path(contract)
          %li= link_to 'Kündigen', new_contract_terminator_path(id: contract.id)


%h3 Gekündigte Direktkredite

%ul
  - @terminated_contracts.each do |contract|
    %li= link_to contract_to_line(contract), contract