<h1>Berechnung des durchschnittlichen Zinssatz</h1>

<% sum=AccountingEntry.sum(:amount) %>
<h3>Aktuelle Summe aller Direktkredite: </h3> 
<b><%= currency(sum) %></b><br/>

<h3>Direktkredite nach Kategorie</h3>
<% categories = Contract.pluck(:category).uniq %>
<ul>
  <% categories.each do |category| %>
      <li>
        <% contracts_of_category = Contract.where(category: category)%>
        <%= "Categorie: #{category} - Summe: " %>
        <%= currency contracts_of_category .map(&:balance).sum %>
        <%= " - AVG Zinssatz: " %>
        <%= contracts_of_category.last_version.map(&:interest_rate).sum / contracts_of_category.size.to_f %>
      </li>
  <% end %>
</ul>


<h3>Berechnung: </h3> 
<table class='table'>
<tr>
  <th>Vertrag Nr</th>
  <th>Name</th>
  <th>Kontostand</th>
  <th>Anteil an Gesamtsumme</th>
  <th>Zinssatz</th>
  <th>Relativer Zinssatz</th>
</tr>
<% rel_sum = 0 %>

<% @contracts.each do |contract| %>
<% last_version = contract.last_version %>
<tr>
  <td><%= contract.number %></td>
  <td><%= "#{contract.contact.try(:prename)} #{contract.contact.try(:name)}" %></td>
  <td><%= currency(balance=contract.balance) %></td>
  <td><%= fraction(sum_fraction=balance/sum) %></td>
  <td><%= fraction(last_version.interest_rate) %></td>
  <td><%= fraction(rel=sum_fraction * last_version.interest_rate) %></td>
</tr>
  <% rel_sum+=rel %>
<% end %>
</table>
<br/>

<h3>Durchschnittlicher Zinssatz: </h3> 
<h1><%= fraction(rel_sum) %></h1>
