%h1= "Kontoauszüge für #{@year} verschicken"

.row
  .col-md-5
    %h3 E-Mail Vorlage
    %p
      %b Betreff:
      = @mail_template.subject
    %p
      %b Inhalt:
      = @mail_template.content
    %p
      %b Footer:
      = @mail_template.footer
    %p
      %b Newsletter-Anhang
      = @mail_template.newsletter_file_name

    = link_to 'Bearbeiten', edit_mail_template_path(@mail_template)

  .col-md-4.col-md-offset-1
    %h3 E-Mails verschicken
    .btn.btn-info
      = link_to 'Test Email verschicken', send_test_email_year_end_closing_path(@year),
                data: {confirm: "Achtung - die Mail wird an #{@company.email} geschickt."}
    %br
    %br
    - if @mail_template.test_mail_sent?
      .btn.btn-warning
        = link_to 'Alle E-Mails senden', send_emails_year_end_closing_path(@year),
          confirm: "ACHTUNG: Das Aussenden der Mails kann bis zu 30 minuten dauern. Auf KEINEN Fall nochmal klicken, F5 drücken etc.!"
    - else
      .btn.btn-default
        = 'Alle E-Mails senden'
      %p
        Erst möglich 1 Stunde nach dem letzten Versand der Test Email
        = "(noch #{distance_of_time_in_words_to_now(@mail_template.test_mail_sent_at + 1.hour)} warten)" if @mail_template.test_mail_sent_at.present?


    %h3 Verschickte E-Mails
    %ul
    - if @mail_template.test_mail_sent?
      %li
        = @mail_template.test_mail_sent_at.strftime("%d. %b %Y")
        Test Mail verschickt
    - Email.where(year: @year).order(:updated_at).each do |email|
      %li
        -#= link_to 'email', email_path(email)
        = email.updated_at.strftime("%d. %b %Y")
        = contact_short(email.contact)

    %h3 Kontoauszüge via Post
    %ul
      - YearEndClosing.new(year: @year).contacts_and_contracts_without_email.each do |contact, contracts|
        %li
          = contact_short(contact) if contact
          = "[Kein Kontakt angegeben]" unless contact
          Auszüge:
          - contracts.each do |contract|
            = link_to("#{contract.number} ", year_closing_statement_path(contract, year: @year, format: :pdf),
                      target: '_blank')

