%h1= "Jahresabschluss #{@year_end_closing.year}"

%p
  Alle Kontoauszüge in einer ZIP-Datei herunterladen:
  = link_to 'ZIP', year_end_closing_path(@year_end_closing, format: :zip)
%p
  Kontoauszüge per E-Mail verschicken:
  = link_to 'Emails erstellen', emails_path(year: @year_end_closing.year)

%table
  %thead
    %td DK#
    %td DK Geber_in
    %td Vorjahressaldo
    %td Kontobewegungen
    %td Zinsen
    %td Saldo Jahresabschluss
    %td Jahresabschluss
  - @year_end_closing.contracts.each do |contract|
    %tr
      %td= link_to contract.number, contract
      %td= contact_short(contract.contact)
      %td= currency @year_end_closing.balance_closing_of_year_before(contract)
      %td= @year_end_closing.movements_excluding_interest(contract)
      %td= currency @year_end_closing.annual_interest(contract)
      %td= currency @year_end_closing.balance_closing_of_year(contract)
      %td
        = link_to "Kontoauszug",
                    year_closing_statement_path(contract, year: @year_end_closing.year)
        = link_to "(als PDF)",
                    year_closing_statement_path(contract, year: @year_end_closing.year, format: :pdf),
                    target: '_blank'

