.navbar-header
  %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to "Home", root_path, :class => 'navbar-brand'

.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li= link_to "Geber_innen", contacts_path
    %li= link_to "Direktkreditverträge", contracts_path
    %li= link_to "Buchungen", accounting_entries_path
    %li= link_to "Jahresabschluss", year_end_closings_path
    %li= link_to "Einstellungen", edit_company_path(@company)

    %li.dropdown
      %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
        Auswertungen
        %b.caret
      %ul.dropdown-menu
        -#%li= link_to "Zinsen", contracts_interest_path
        -#%li= link_to "Zinsüberweisungsliste", contracts_interest_transfer_list_path
        %li= link_to "Durchschnittlicher Zinssatz", contracts_interest_average_path
        %li= link_to "Auslaufende Verträge", contracts_expiring_path
        %li= link_to "Restlaufzeiten in Kategorien", contracts_remaining_term_path
